.footer {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
  color: var(--text-color);
  box-shadow: 0 0 1px rgba(57,79,122,0.1);
  margin: 0 auto;
}

.footer-elements {
  margin-top: var(--margin-top);
  background: var(--light-color);
  border-radius: var(--border-radius);
  padding: 15px;
}